{% extends 'base.html' %}

{% block title %}Fotos{% endblock %}

{% block content %}

<div class="row">
	<div class="col-md-12 lead">
		<h3>Fotos da plantação</h3>
		<p>Esse local será destinado para imagens da plantação de melancia, assim você irá poder conhecer o local de onde sai sua melancia.</p>
		<img src="/static/fotos/melancia.webp" alt="melancia" class="img-thumbnail mb-3">
		<p>Por enquanto, ainda não tem muita coisa, mas em breve terá ;)</p>

	</div>
	<!-- Rodapé -->
  <footer class="mt-5" id="footer">
    <div id="contact-area">
      <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <p class="mb-2  mt-2">Para mais informações, entre em contato: </p>  
            </div>
            <div class="col-md-12 contact-box">
              <i class="fab fa-whatsapp"></i>
              <p><span class="contact-tile">Ligue para:</span> (84) 99862-9097</p>
              <p><span class="contact-tile">Horários:</span> 7:00 - 19:00</p>
            </div>
            
          </div>
      </div>
    </div>
    <div id="copy-area">
      <div class="container ">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
             <p > Desenvolvido por <a href="#">Roberto CD Santos </a> &copy; 2020</p>
            </div>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock %}

