{% extends 'base.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="row lead">
	<div class="col-md-12">
		<h2>Conheça o MelanciaEasy</h2>

		<p>O MelanciaEasy é um sistema simples que visa a venda de melancias online, de modo que o usuário não se desloque de sua casa para saborear uma melancia docinha e orgânica.</p>
		<img src="/static/fotos/melancia.webp" alt="melancia" class="img-thumbnail mb-3">
		<p>O sistema foi desenvolvido durante o período de quarentena por causa do novo coronavírus, descoberto no final de 2019.</p>
		<p>A ideia surgiu quando Roberto decidiu plantar algumas sementes de Melancia no sítio de seu avô. Com isso, ele imaginou um sistema de compras e venda de melancias para tornar o processo mais simples, pois se trata de uma fruta grande e pesada (difícil de carregar).</p>
		<p>Roberto sempre gostou de melancias e seu avô e tios já tiveram experiencias com o plantio dessa fruta. Assim, ele decidiu plantar as melancias e vende-las de uma forma inovadora.</p>
		<p>O sistema é bem simples: o cliente faz seu cadastro, entra, faz um pedido e aguarda o entregador.</p> 
	    <p>O pagamento pelo produto é feito na hora da entrega, de acordo com o peso da fruta.</p>

	</div>
</div>
<!-- Rodapé -->
  <footer class="mt-5" id="footer">
    <div id="contact-area">
      <div class="container">
          <div class="row">
            <div class="col-md-12 ">
              <p class="mb-2  mt-2">Para mais informações, entre em contato: </p>  
            </div>
            <div class="col-md-12 contact-box">
              <i class="fab fa-whatsapp"></i>
              <p><span class="contact-tile">Ligue para:</span> (84) 99862-9097</p>
              <p><span class="contact-tile">Horários:</span> 7:00 - 19:00</p>
            </div>
            
          </div>
      </div>
    </div>
    <div id="copy-area">
      <div class="container ">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
             <p > Desenvolvido por <a href="#">Roberto CD Santos </a> &copy; 2020</p>
            </div>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}
